---
layout: default
title: Gallery
images:
    - url: /gallery/20170816_153723.JPG
---

<section id="about">
    <div class="container">
        <div class="row">

            <div class="grid">

                {% for image in site.static_files %}
                    {% if image.path contains 'gallery' %}
                        <div class="grid-item">   
                            <img src="../{{ image.path }}" alt="image" />
                        </div>
                    {% endif %}
                {% endfor %}

            </div>
        </div>
    </div>
    </div>
</section>

{% include contact.html %}

