---
layout: default
---
<section id="hero-area" class="hero-decide">
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center">
                <div class="block wow fadeInUp" data-wow-delay=".3s">
                    <!-- Slider -->
                    <section class="cd-intro">
                        <h1 class="wow fadeInUp animated cd-headline slide" data-wow-delay=".4s">
                            <span>{{page.bannerTitle}}</span>
                            <br>
                        </h1>
                    </section>
                    <!-- cd-intro -->
                    <!-- /.slider -->
                    <h2 class="wow fadeInUp animated" data-wow-delay=".6s">
                        {{page.bannerText}}
                    </h2>
                </div>
            </div>
        </div>
    </div>
</section>

{{content}}